@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, a {
	border: 0;
}
* {margin:0; padding:0;}
body {background-color:var(--point-white); color:var(--black-color01); font-style:normal; font-size:var(--title-14); font-family:var(--font-type01); letter-spacing:-0.03em; line-height: 1.4; word-break: keep-all;}

div, ul, ol, li, dl, dt, dd, form, fieldset, input,textarea, button, p, h1, h2, h3, h4, h5, h6, blockquote, iframe, th, td { margin:0; padding:0;-webkit-text-size-adjust:none}
img {border: 0 none; vertical-align:middle; max-width:100%; max-height: 100%;}
li {list-style:none;}
button{background:transparent; cursor:pointer; vertical-align:middle; margin:0;}
button, input[type="submit"], input[type="button"] {background:transparent; cursor:pointer; *overflow:visible;}
button span{display:none;}
input, button {
   -webkit-appearance: none;
   -webkit-border-radius: 0;
}
h1, h2, h3, h4, h5, h6{font-size:100%; font-style:normal;}

/* table */
table { border-collapse:collapse; border-spacing:0; width:100%; }
th {vertical-align:middle;}
th, td { border-collapse:collapse; }
legend, hr { display:none; }
caption{text-indent:-9999em;overflow:hidden;height:0;font-size:0;line-height:0; }

/* form */
form { display:inline; }
select, input, textarea { color:inherit; font-family:inherit; font-size:inherit; vertical-align:middle; }
fieldset, blockquote, iframe, button { border:none; }

/* font */
i, em, u, cite {font-style:normal;}
em{font-weight:bold;}

/* link */
a {color:inherit; text-decoration:none; cursor:pointer;}
a:visited{text-decoration: none}
a:focus{text-decoration: none}
a:active{text-decoration: none}
a:hover{text-decoration: none}

h2.blind {display:none; font-size:0; letter-spacing:-9999px;}

.file_list img {padding-left:3px;}


/* 에디터 속성 재정의*/
.view_cont div, .view_cont dl, .view_cont dt, .view_cont dd, .view_cont ul, .view_cont ol, .view_cont li, .view_cont h1, .view_cont h2, .view_cont h3, .view_cont h4, .view_cont h5, .view_cont h6, .view_cont pre, .view_cont code, .view_cont p, .view_cont th, .view_cont td, .view_cont input, .view_cont select, .view_cont button {margin:auto;padding:initial;color:inherit;}
.view_cont i, .view_cont em {font-style:italic;color:initial;}
.view_cont em {font-weight:inherit;}
.view_cont dl, .view_cont ul, .view_cont ul li {list-style:disc;list-style-position:inside;}
.view_cont ol, .view_cont ol li {list-style:decimal;list-style-position:inside;}
.view_cont sup, .view_cont sub {font-size:x-small;}
.view_cont table {border-spacing:initial;border-width:inherit;}
.view_cont th, .view_cont td {border-spacing:initial;border-width:inherit;}

/* custom */
    :root{
        --trans-color:transparent;
        --point-white:#fff;
        --point-color01:#3C8F8B;
		--point-color02:#EFF8F7;
        --point-color03:#8ABFBD;
        --point-color04:#65B9B6;
        --point-color05:#4DA39E;
		--point-color06:#23B8F1;
		--point-color07:#FFB453;
        --border-color01:#ddd;
        --border-color02:#ccc;
        --border-color03:#D9D9D9;
		--border-color04:#eee;
        --black-color00:#000;
        --black-color01:#111;
        --black-color02:#222;
        --black-color03:#333;
        --black-color04:#444;
        --black-color05:#555;
        --black-color06:#666;
        --black-color07:#777;
        --black-color08:#888;
        --black-color09:#999;
        --black-color10:#aaa;
		--black-color11:#bbb;
        --gray-bg01:#F5F5F5;
		--gray-bg02:#F8F9FA;
		--gray-bg03:#E0E0E0;
        --font-type01:'Pretendard', '맑은 고딕', dotum, sans-serif;
        --filter-white:brightness(0) invert(1);
        --filter-black:brightness(0);
        --polygon-plus:polygon(0 calc(50% - 1px), calc(50% - 1px) calc(50% - 1px), calc(50% - 1px) 0, calc(50% + 1px) 0, calc(50% + 1px) calc(50% - 1px), 100% calc(50% - 1px), 100% calc(50% + 1px), calc(50% + 1px) calc(50% + 1px), calc(50% + 1px) 100%, calc(50% - 1px) 100%, calc(50% - 1px) calc(50% + 1px), 0 calc(50% + 1px));
        --radio-10:10px;
		--title-40:40px;
		--title-30:30px;
		--title-22:22px;
        --title-20:20px;
        --title-19:19px;
        --title-18:18px;
        --title-17:17px;
        --title-16:16px;
        --title-15:15px;
        --title-14:14px;
    }

    @media screen and (max-width:1023px){
        :root{
			--title-40:36px;
			--title-30:26px;
			--title-22:21px;
            --title-20:19px;
            --title-19:18px;
            --title-18:17px;
            --title-17:16px;
            --title-16:15px;
            --title-15:14px;
            --title-14:13px;
        }
    }
    @media screen and (max-width:860px){
        :root{
			--title-40:34px;
			--title-30:24px;
			--title-22:20px;
            --title-20:18px;
            --title-19:17px;
            --title-18:16px;
            --title-17:15px;
            --title-16:14px;
            --title-15:13px;
            --title-14:12px;
        }
    }
    @media screen and (max-width:640px){
        :root{
            --radio-10:5px;
			--title-40:30px;
			--title-30:23px;
			--title-22:19px;
            --title-20:17px;
            --title-19:16px;
            --title-18:15px;
            --title-17:14px;
            --title-16:13px;
            --title-15:12px;
        }
    }
    @media screen and (max-width:479px){
        :root{
			--title-40:27px;
			--title-30:22px;
			--title-22:18px;
            --title-20:16px;
            --title-19:15px;
            --title-18:14px;
            --title-17:13px;
        }
    }
