@charset "utf-8";

/*───────────────────────────────────────────────────────────
	
 company/about

───────────────────────────────────────────────────────────*/

.sub_nav.space80 { margin-bottom: 80px; }


@media screen and (max-width: 640px){
    .sub_nav.space80 { margin-bottom: 60px; }
}

@media screen and (max-width: 479px){
    .sub_nav.space80 { margin-bottom: 40px; }
}



.sub_about { position: relative; }
.sub_about::before { content: ''; display: block; position: absolute; left: -16.5%; top: 16.5%; width: 137px; aspect-ratio: 1/1; background: url('../images/sub/img_about_deco02.png') no-repeat center; background-size: cover; transform: rotate(39.853deg); }
.sub_about::after { content: ''; display: block; position: absolute; right: -14%; top: 57.5%; width: 127px; aspect-ratio: 1/1; background: url('../images/sub/img_about_deco01.png') no-repeat center; background-size: cover; transform: rotate(15deg);}
.sub_about .thumb { margin-bottom: 51px;  border-radius: 20px; }
.sub_about .thumb img { display: inline-block; border-radius: inherit; }

.sub_about .txt { font-size: var(--title-20); font-family: var(--font-type01); font-style: normal; }
.sub_about .txt .title { color: var(--point-color01); font-size: 180%; font-weight: 600; line-height: 1.22; /* 122.222% */ letter-spacing: -1.08px; }
.sub_about .txt .acc_title { margin-top: 29px; margin-bottom: 32px; color: var(--black-color03); font-size: 130%; font-weight: 400; line-height: 1.6; /* 161.538% */ letter-spacing: -0.78px; }
.sub_about .txt .desc { color: var(--black-color06); font-size: 90%; font-weight: 400; line-height: 1.66; /* 166.667% */ letter-spacing: -0.54px; } 
.sub_about .txt .desc:not(:last-child) { margin-bottom: 19px; }

.sub_about .emplo { margin-top: 52px; color: var(--black-color01); text-align: right; font-family: var(--font-type01); font-size: var(--title-18); font-style: normal; font-weight: 400; line-height: 1; }

@media screen and (max-width: 1023px){
    .sub_about::before { left: -5%; top: 50%; }
    .sub_about::after { right: 0; top: 90%; }
}

@media screen and (max-width: 860px){
    .sub_about::before { left: 0; width: 110px; }
    .sub_about::after { width: 100px; }

    .sub_about .emplo { margin-top: 40px; }
}

@media screen and (max-width: 640px){
    .sub_about .thumb { margin-bottom: 30px; height: 0; padding: 25% 0; overflow: hidden; position: relative; }
    .sub_about .thumb > img { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover; height: 100%; }
    .sub_about .txt .acc_title { margin-top: 20px; margin-bottom: 20px; }
    .sub_about .txt .desc:not(:last-child) { margin-bottom: 15px; }

    .sub_about .emplo { margin-top: 30px; }
}
@media screen and (max-width: 479px){
    .sub_about::before { top: 40%; }

    .sub_about .emplo { margin-top: 20px; }
}

/*───────────────────────────────────────────────────────────
	
 company/location

───────────────────────────────────────────────────────────*/

.sub_location .viewing_cont { box-sizing: border-box; border-radius: 10px; border: 1px solid var(--border-color01); padding: 29px 30px; }

.sub_location .map_wrap { width: 100%; font-family: Pretendard; font-style: normal; }
.sub_location .map_wrap .map { width: 100%; height: 460px; border-top-left-radius: 20px; border-top-right-radius: 20px; }
.sub_location .map_wrap .map * { border-radius: inherit; }

.sub_location .map_wrap .map_info { display: flex; justify-content: flex-start; align-items: center; gap: 120px; padding: 40px 60px; border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; background-color: var(--point-color02); }

.sub_location .map_wrap .map_info .logo { height: 61px; }
.sub_location .map_wrap .map_info ul li:first-child { margin-bottom: 18px; }
.sub_location .map_wrap .map_info ul li dl{ position: relative; display: flex; justify-content: flex-start; align-items: center; gap: 30px; font-size: var(--title-18); }
.sub_location .map_wrap .map_info ul li dl dt { position: relative; display: flex; align-items: center; gap: 20px; color: var(--black-color03); font-size: inherit; font-weight: 600; line-height: normal; letter-spacing: -0.54px; width:87px;}
.sub_location .map_wrap .map_info ul li dl dt::before { content: ''; display: inline-block; width: 36px; aspect-ratio: 1/1; background-size: cover; }

.sub_location .map_wrap .map_info ul li:nth-of-type(1) dl dt::before { background: url('../images/sub/ico_mark.svg') no-repeat center; background-size: cover; }
.sub_location .map_wrap .map_info ul li:nth-of-type(2) dl dt::before { background: url('../images/sub/ico_tel.svg') no-repeat center; background-size: cover; }

.sub_location .map_wrap .map_info ul li dl dd { color: #666; font-size: inherit; font-weight: 400; line-height: normal; letter-spacing: -0.54px; }

.sub_location .viewing_cont br.for_mo { display: none; }
.sub_location .viewing_cont .bullet_list > li { color: var(--black-color03); }

.sub_location .flex_des { display: flex; justify-content: flex-start; flex-wrap: wrap; gap: 30px; font-family: var(--font-type01); font-size: var(--title-20); font-style: normal; padding: 30px 0; border-bottom: 1px solid var(--border-color03); }
.sub_location .flex_des .left_box { display: flex; justify-content: center; align-items: center; flex-direction: column; width: 15%; padding: 24px 40px; box-sizing: border-box; text-align: center; background-color: var(--gray-bg02); border-radius: 20px; }
.sub_location .flex_des .left_box p { margin-top: 20px; color: var(--black-color01); font-size: 110%; font-weight: 500; line-height: 1.09; }

.sub_location .flex_des .right_box { width: calc(85% - 30px); }


.sub_location .way_flex { padding-top: 0; }

.sub_location .way_flex .right_box ul { margin-top: 42px; }
.sub_location .way_flex .right_box ul li { position: relative; display: flex; align-items: center; gap: 20px; color: var(--black-color06); font-size: 90%; font-weight: 400; line-height: 1.3; }
.sub_location .way_flex .right_box ul li:not(:first-child) { margin-top: 17px; }

.sub_location .way_flex .right_box ul li::before { content: ''; display: inline-block; width: 50px; height: 6px;}
.sub_location .way_flex .right_box ul li:nth-of-type(1)::before { background: url('../images/sub/ico_location_line01.png') no-repeat center; background-size: cover; }
.sub_location .way_flex .right_box ul li:nth-of-type(2)::before { background: url('../images/sub/ico_location_line02.png') no-repeat center; background-size: cover; }
.sub_location .way_flex .right_box ul li:nth-of-type(3)::before { background: url('../images/sub/ico_location_line03.png') no-repeat center; background-size: cover; }



.sub_location .bus_flex .right_box { font-family: var(--font-type01); font-size: var(--title-20); font-style: normal; }
.sub_location .bus_flex .right_box > dl > dt { color: var(--black-color03); font-size: inherit; font-weight: 500; line-height: normal; letter-spacing: -0.6px; }
.sub_location .bus_flex .right_box > dl > dd > ul { display: flex; flex-wrap: wrap; width: 100%; justify-content: flex-start; margin-top: 30px; column-gap: 60px; row-gap: 10px; }
.sub_location .bus_flex .right_box > dl > dd > ul > li > dl:last-child { margin-top: 10px; }

.sub_location .bus_flex .right_box > dl > dd dl { display: flex; align-items: center; }
.sub_location .bus_flex .right_box > dl > dd dl > dt { padding: 8px 17px; margin-right: 20px; color: var(--point-white); font-size: var(--title-16); font-weight: 400; line-height: 1; letter-spacing: -0.48px; border-radius: 4px; }
.sub_location .bus_flex .right_box > dl > dd dl > dd { color: var(--black-color01); font-size: var(--title-18); line-height: normal; letter-spacing: -0.54px; }
.sub_location .bus_flex .right_box > dl > dd dl > dd:not(:last-child) { margin-right: 30px; }

.sub_location .bus_flex .right_box > dl > dd dl.bus01 > dt { background-color: #2b75e4; }
.sub_location .bus_flex .right_box > dl > dd dl.bus02 > dt { background-color: #DC2B20; }
.sub_location .bus_flex .right_box > dl > dd dl.bus03 > dt { background-color: #26A100; }
.sub_location .bus_flex .right_box > dl > dd dl.bus04 > dt { background-color: #26A100; }

.sub_location .cycle_flex .right_box { display: flex; align-items: center; }

.sub_location .car_flex .right_box { font-family: var(--font-type01); font-size: var(--title-20); font-style: normal; }
.sub_location .car_flex .right_box > dl > dt { margin-bottom: 10px; color: var(--black-color03);  font-weight: 500; line-height: 1; /* 100% */ letter-spacing: -0.6px; }
.sub_location .car_flex .right_box > dl > dd { color: var(--black-color06); font-size: var(--title-18); font-weight: 400; line-height: 1.77; /* 177.778% */ letter-spacing: -0.54px; }

.sub_location .car_flex .right_box > dl:last-child { margin-top: 20px; }

@media screen and (max-width: 1340px){

}

@media screen and (max-width: 1130px){
    .sub_location .map_wrap .map_info { justify-content: space-between; padding: 45px 30px; gap: 0; }
}

@media screen and (max-width: 1023px){
    .sub_location .map_wrap .map_info { flex-direction: column; align-items: flex-start; row-gap: 30px; }
    

    .sub_location .viewing_cont { padding: 23px 30px; }

    .sub_location .way_flex .right_box ul li { gap: 10px; }
}

@media screen and (max-width: 860px){
    .sub_location .map_wrap .map_info .logo { height: 55px; }
    .sub_location .map_wrap .map_info ul li dl dt::before { width: 32px; }

    .sub_location .flex_des { gap: 20px;}
    .sub_location .flex_des .left_box { padding: 24px 40px; width: 100%;  }
    .sub_location .flex_des .right_box { width: 100%; }


    .sub_location .way_flex .right_box ul { margin-top: 30px; }
    .sub_location .way_flex .right_box ul li::before { width: 30px; }

    .sub_location .bus_flex { padding-bottom: 30px; }
    .sub_location .bus_flex .right_box > dd dl > dt { padding: 5px 14px; }

    .sub_location .cycle_flex { padding-bottom: 30px; }
}

@media screen and (max-width: 640px){
    .sub_location .map_wrap .map { height: 360px; }
    .sub_location .map_wrap .map_info { padding: 25px 15px; }
    .sub_location .map_wrap .map_info .logo { height: 48px; }
    .sub_location .map_wrap .map_info ul li dl { flex-direction: column; align-items: flex-start; gap: 10px; }
    .sub_location .map_wrap .map_info ul li dl dt { gap: 10px;width:100%;}
    .sub_location .map_wrap .map_info ul li dl dt::before { width: 28px; }

    .sub_location .viewing_cont { padding: 23px 20px; }
    .sub_location .viewing_cont br.for_mo { display: block; }

    .sub_location .flex_des { padding: 20px 0; gap: 15px; }
    .sub_location .flex_des .left_box { width: 100%; height: auto; padding: 20px 30px; }
    .sub_location .flex_des .left_box img { width: 24px; }
    .sub_location .flex_des .left_box p { margin-top: 8px; }

    .sub_location .flex_des .right_box { width: 100%; }

    .sub_location .way_flex{ padding-top: 0; }

    .sub_location .bus_flex { padding-bottom: 20px; }
    .sub_location .bus_flex .right_box > dd dl > dt { margin-right: 15px; }
    .sub_location .bus_flex .right_box > dd dl > dd:not(:last-child) { margin-right: 20px; }

    .sub_location .cycle_flex { padding-bottom: 20px; }

    .sub_location .cycle_flex ul { width: 100%; }
}

@media screen and (max-width: 479px){
    .sub_location .map_wrap .map { height: 270px; }
    .sub_location .map_wrap .map_info { gap: 20px; }
    .sub_location .map_wrap .map_info .logo { height: 42px; }
    .sub_location .map_wrap .map_info ul li dl dt { gap: 5px; }
    .sub_location .map_wrap .map_info ul li dl dt::before { width: 25px; }

    .sub_location .flex_des .left_box { padding: 15px 25px; }
    .sub_location .flex_des .left_box img { width: 22px; }
    .sub_location .viewing_cont { padding: 15px 20px; border-radius: 5px; }

    .sub_location .bus_flex .right_box { width: 100%; }
    .sub_location .bus_flex .right_box > dd > ul { flex-direction: column; row-gap: 10px;}

    .sub_location .way_flex .right_box ul li { flex-direction: column; align-items: flex-start; }
    
}