@charset "utf-8";
/* 서브 페이지 css - sub.css */

/* 공통 외부 css 불러오기 */
/* @import url(경로/파일명); */

/* 초기화css */
@import url(./reset.css);

/* 상단,하단 공통모듈 */
@import url(./common.css);

/* 공통설정  */
/* .main-area 직계자식(>) 모두 선택
별(*)은 모든것을 선택하는 문자열 */
.main-area > * {
  margin-bottom: 10px;
}

/* 2-1. 서브타이틀 */
.sub-title {
  /* 패딩 p20 */
  padding: 20px;
  /* 글자중앙정렬 tac */
  text-align: center;
  /* 테두리 bd */
  border: 1px solid #ff9900;
  /* 둥근모서리 bdrs20 */
  border-radius: 20px;

  /* 배경공통 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* 배경넣기 bg -> 색이반고윙/크 */
  background: url(../images/titbg4.jpg) no-repeat 0 / cover;

  /* (2)글자디자인 */
  /* 글자체 ff */
  font-family: "noto sans KR";
  /* 글자크기 fz30 */
  font-size: 30px;
  /* 글자테두리 webtst
  -> 테두리 두께를 더 얇게 하려면 px단위 숫자를 소숫점 아래로 쓰면됨 */
  -webkit-text-stroke: 0.1px orange;
  /* 접두어 란?
  속성앞에 -webkit-라고 쓰면 크롬,사파리브라우저용 속성임
  -ms- 마이크로 소프트
  -o- 오페라 브라우저
  -moz- 파이어폭스(모질라)
  이 속성은 이미 공식적으로는 아니지만 다른 최신브라우저에 사용됨! */
}

/* 각 서브페이지별 타이틀 셋팅영역 */
/* (1) 경제 페이지 */
.economics {
  background-image: url(../images/titbg1.jpg);
  color: tomato;
}
/* (2) 사회 페이지 */
.social {
  background-image: url(../images/titbg2.jpg);
  color: teal;
}
/* (3) IT/과학 페이지 */
.it {
  background-image: url(../images/titbg3.jpg);
  color: bisque;
}
/* (4) TV/연예 페이지 */
.tv {
  background-image: url(../images/titbg4.jpg);
  color: purple;
}

/* 2-2. 언론사로고 */
.press-logo img {
  height: 32px;
}
/* 2-3. 기사제목 */
.article-title {
  font-size: 33px;
}

/* 스페셜박스(추가정보박스) */
.special-box {
  font-size: 18px;
}
/* 스페셜제목 */
.special-box h4 {
  /* 왼쪽 보더 bl */
  border-left: 2px solid #000;
  /* 왼쪽 패딩 pl */
  padding-left: 20px;
  /* 아래쪽 간격 mb */
  margin-bottom: 30px;
}

/* 스페셜 내용 */
.special-box p {
  line-height: 1.7;
}

/* 2-4. 기사사진  */
.article-picture img {
  width: 100%;
}
/* 이미지설명 
-> figcaption 도 블록요소이므로 가운데정렬이 됨 */
.article-picture figcaption {
  /* 박스설정 */
  /* 마진 위아래 20px 좌,우 0 */
  margin: 20px 0;
  text-align: center;

  /* 글자설정 */
  font-size: 15px;
  color: #f90;
}

/* 2-5. 기사내용 */
.contents p {
  /* 글자설정 fz18 */
  font-size: 18px;
  /* 줄간격 lh2 (글자크기의 2배) 
    -> 숫자값은 배수! */
  line-height: 2;
}
/* mark요소 디자인 변경 */
.contents mark {
  /* 기존 inline에서 block으로 변경! */
  display: block;
  /* 박스설정 */
  background-color: #3b3b3b;
  margin: 15px auto;
  padding: 20px 50px;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  line-height: 1.6;
  /* 글자설정 */
  font-size: 25px;
  color: wheat;
  font-family: "Montserrat", "Noto Sans KR", "Pretendard";
  text-shadow: 0 0 #116d15;
}

/* 2-6. 기자정보 */
.reporter {
  font-size: 16px;
  color: #333;
}
/* 2-7. 기사원문 */
.article-link {
  /* 인라인 오른쪽 정렬 */
  text-align: right;
}
/* 버튼 a요소 */
.article-link a {
  /* 디자인적용 및 부모박스의 문자열 정렬 적용되도록 인라인블록으로 변경! */
  display: inline-block;
  /* (1) 박스설정 */
  width: 100px;
  display: block;
  height: 100px;
  border: 2px dotted orange;
  border-radius: 50%;
  background-color: lightyellow;
  text-align: center;
  line-height: 100px;
  /* (2) 글자설정 */
  font-family: "Noto Sans KR", "Pretendard";
  font-size: 25px;
  color: steelblue;
}
/* 버튼 a 마우스오버시 
-> 가상클래스 :hvoer 사용! */
.article-link a:hover {
  /* 배경색 bgc */
  background-color: darkorchid;
  /* 박스그림자 bxsh 
    box-shadow: inset(내부그림자) x축 y축 블러 그림자색;
    -> 글자그림자에는 없는 "확장"(spread)가 있음
    즉, 그림자를 크게 만들 수 있음!
    그리고 콤마로 설정을 연결하면 여러개의 그림자 사용가능!
     */
  box-shadow: 
    /* 내부그림자 */ inset 0 0 5px 5px #00000087,
    /* 외부그림자 */ outset 4px 4px 3px #00000087;
}

/* 인용블록박스  */
.quote-box img {
  width: 180px;
  /* float속성을 인라인요소에 사용할 경우 나 자신은 설정한 위치에 오고 다른인라인 요소는 그 옆으로 흘러간다. 
  여기서는 이미지의 글자는 한줄만 옆에 오는데, 이미지 높이 만큼 글자가 옆으로 흘러가게 할때 사용한다. */
  float: right;
  margin-left: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #999;
  text-align: justify;
}

/* 뉴스 공통 제목 디자인 */
.news-box h3 {
  font-size: 30px;
  padding: 15px;
  display: inline-block;
  border: 2px dotted limegreen;
  border-radius: 20px;
  background-color: lightcyan;
  margin-bottom: 19px;
}

/* 기사설명 공통 내용박스 디자인 
공통이지만 인용블록은 blockquote이고 
주해는 p요소를 쓰고 있으므로 공통은 
.desc-box h4 + *
설명: h4요소 다음 형제(+) 요소 선택인데 별(*)을 사용하여 어떤 타입이든 모두 선택함!
*/

.desc-box {
  /* 경계선을 위와 아래만 설정함 */
  border-top: 2px dotted limegreen;
  border-bottom: 2px dotted oragne;
  padding: 20px;
  margin-bottom: 50px;
}
.desc-box h4 + * {
  color: green;
  font-size: 20px;
  line-height: 1.6;
}

/* 기사설명 공통 제목 디자인 */
.desc-box h4 {
  font-size: 30px;
  padding: 15px;
  display: inline-block;
  border: 2px dotted limegreen;
  border-radius: 20px;
  background-color: lightcyan;
  margin-bottom: 19px;
  /* 양쪽정렬은 text-align:justify 로 설정함. */
  text-align: justify;
}

/* 오늘의 작품&느낌 */
/*.work {
    background-image: linear-gradient(270deg, #26a39d 20%, #5167d5 60%, #ff6600);
}
*/
.work {
  background-image: linear-gradient(127deg, green, limegreen, lightcyan);
  padding: 35px;
  text-align: center;
  /* 박스그림자 bxsh (inset 내부그림자) */
  /* box-shadow : inset x축 y축 블러 확장 색; */
  box-shadow: inset hoff voff blur darkgreen;
}

.work h4 {
  font-family: Noto sans Kr;
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 30px;
  color: darkmagenta;
  -webkit-text-stroke: 2.65px white;

}

.work figcaption {
  font-family: Noto Sans Kr;
  color: #000;
  font-style: normal;
}
.work figcaption cite{
  font-style: normal;
}
/* 
그라데이션 -> 배경 이미지속성에 쓴다! (왜? 예전에는 모두 이미지로 만들었기때문!)
    [ 선형 그라데이션 : linear-gradient ]
    linear-gradient(방향,색1,색2,...);
    linear-gradient(방향,색1 몇%,색2 몇%,...);
    linear-gradient(각도,색1 몇%,색2 몇%,...);
    - 옵션 : 
    1. 방향: to top, to bottom, to left, to right
    2. 각도: 각도deg
    3. 콤마로 나열된 색상 뒤에 %수치를 쓰면 비율조정가능
*/

/* 테크뉴스 파트
가상요소를 사용하여 앞에 아이콘 넣기
앞에넣기 ::before
뒤에넣기 ::after
-> 필수속성 -> content */
.tech-news a::before {
content: '💛';
}
.tech-news a::after {
content: '🧡';
}


/* 테크뉴스 a요소 기본 색 변경하기
순서대로 따로 선택하려면 원래 class를 따로주고 그 이름으로 선택하면 되는데 class이름 주지않고 선택하는 방법은?
가상클래스 중 first-child 같은 가상클래스를 사용하는 것!

첫번째자식 -> 선택요소:first-child
마자막자식 -> 선택요소:last-child
n번째자식 -> 선택요소:nth-child(순번숫자)

-> 주의사항 : 같은종류의 자식요소로 구성된 경우에만 사용가능하다.
*/
.tech-news li:first-child a {
  color: darkmagenta;
}
.tech-news li:last-child a {
  color: chocolate;
}

/* 
[ 순서없는 리스트 : ul ]
          unordered list

          (참고: 블릿옵션
          https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_ul_type_css)

          [ 순서있는 리스트 : ol ]
          ordered list

          (참고: 순서표시옵션
          https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_ol_type_all_css)

          [ ul/ol 공통사항 ]
          - 하위필수요소 : li (개별리스트)
          - 주의 : 하위에 li 이외의 블록요소나 
          그 어떤 요소도 직계자식으로 사용할 수 없다!
          예) <ul><li></li><div></div></ul> -> 사용불가!
*/

/* 랭킹뉴스 박스 */
.rank-news ol {
  /* 리스트스타일 숫자형으로 다시사용 
  ol요소의 기본auto 스타일은 decimal 즉, 숫자형 */
  list-style: auto;
  /* 기본 왼쪽패딩을 초기화했으므로 다시 조정함 */
  padding-left: 10px;
}